@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Protest+Guerrilla&display=swap');

body {
    max-width: 1600px;
    margin: 0 auto;   
    background-color: darkgray;
    padding: 10px;
}
.Quiz-Head{
    font-family: "Protest Guerrilla";
}
#quiz{
    font-family: "Montserrat";
}
/* h2{
    font-size: ;
} */
.h1{
    text-align: center;
    font-family: "Montserrat";
}
.image{
    width: 100%;
}
.quiz-link{
    text-align: center;
    margin-top: -50px;
    font-family: "Montserrat";
    font-size: 30px;
}
.quiz-link a:hover{
    background-color: brown;
    color: cornsilk;
    font-style: italic;
}
.container {
    max-width: 700px;
    margin: 0 auto;
    border: solid black;
    text-align: center;
    margin-top: 200px;
    background-color: bisque;
    padding: 20px;
}
.question {
    margin-bottom: 20px;
}
.choices {
    margin-bottom: 20px;
}
button {
    margin-right: 10px;
}
footer{
    text-align: center;
    font-size: 30px;
    font-family: "Montserrat";
}

@media screen and (max-width: 900px){
    body{
        background-color:blanchedalmond;
    }
    .Quiz-Head{
        font-family: "Protest Guerrilla";
    }
    #quiz{
        font-family: "Montserrat";
    }

    .h1{
        text-align: center;
        font-family: "Montserrat";
        font-size: 15px;
        padding-bottom: 50px;
        text-decoration: underline;
        color: blueviolet;
    }
    .image{
        width: 100%;
        height: 100%;

    }
    .quiz-link{
        text-align: center;
        font-family: "Montserrat";
        font-size: 20px;
        margin-top: 20%;
        color: blueviolet;

    }
    .quiz-link a:hover{
        background-color: brown;
        color: cornsilk;
        font-style: italic;
    }
    .container {
        max-width: 300px;
        margin: 0 auto;
        border: solid black;
        text-align: center;
        background-color: bisque;
        padding: 5px;
    }
    .question {
        margin-bottom: 20px;
    }
    .choices {
        margin-bottom: 20px;
    }
    button {
        margin-right: 10px;
    }

    footer{
        text-align: center;
        font-size: 15px;
        font-family: "Montserrat";
        color: blueviolet;
    }

    
    
}